.icon-container{
    width: 100%;
    height: 15%;
  
    .title-image{
      margin-left: 3%;
      height: 95%;
    }
  }
  
  .content-container{
    width: 94%;
    height: 83%;
    border-radius: 2em;
    background: white;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-left: 3%;
    margin-right: 3%;
  
    ion-content{
      width: 100%;
      // height: 100%;
      --background: white;
      --padding-start: 5%;
      --padding-end: 5%;
  
    }
  
  }
  
  .mg-btm{
    margin-bottom: 3%;
  }