.icon-container{
    width: 100%;
    height: 15%;
  
    .title-image{
      margin-left: 3%;
      height: 95%;
    }
  }
  
  .content-container{
    width: 94%;
    height: 83%;
    border-radius: 2em;
    background: white;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-left: 3%;
    margin-right: 3%;
  
    ion-content{
      width: 100%;
      // height: 100%;
      --background: white;
      --padding-start: 5%;
      --padding-end: 5%;

      .avator-container{
        height: 25%;
        width: 100%;
        text-align: center;

        img{
            height: 80%;
        }

        .name-title{
            height: 20%;
            font-size: 1.2em;
            color: black;
            text-align: center;
            margin: 0;
            font-weight: bold;
        }
      }

      .info-container{
        height: 37%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3%;

        .box{
            width: 95%;
            height: 85%;
            border-radius: 1em;
            box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .2);
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            
            .item{
                height: 30%;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                font-size: 0.9em;
                color: black;
                text-align: left;
                margin-bottom: 0.3em;

                p{
                    height: 100%;
                    display: flex;
                    align-items: center;
                    margin: 0;
                    word-wrap: break-word;
                }

                .item-title{
                    width: 35%;
                    font-weight: bold;
                }

                .item-info{
                    width: 55%;
                }
            }
        }
      }

      .booking-container{
        height: 37%;
        width: 100%;
        margin-top: 3%;

        .booking-title{
            height: 15%;
            font-size: 1em;
            color: black;
            font-weight: bold;
            margin: 0;
            padding-left: 3%;
            display: flex;
            align-items: center;
        }

        .booking-list{
          height: 85%;
          width: 100%;

          .item{
            height: 3.5em;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1.5px solid grey;

            .item-content{
              width: 80%;
              display: flex;
              flex-direction: column;

              p{
                height: 100%;
                font-size: 0.9em;
                color: black;
                margin: 0;
              }
            }

            .item-icon{
              border: 1px solid black;
              border-radius: 0.2em;
              color: black;
              width: 15%;
              height: 60%;
              display: flex;
              justify-content: center;

              ion-icon{
                font-size: 60%;
                text-align: center;
                height: 100%;
                width: 60%;
              }
            }
          }
        }

      }


    }
  
  }


  
  .mg-btm{
    margin-bottom: 3%;
  }